


style.css 

body, h1, h2, h3 ul {

  margin:0; 
  padding:0;
 color: rgb(0, 0, 0);
 text-align: center;
}

body  { 
background-color: rgba(49, 15, 217, 0.354);
font-family: 'Times New Roman', Times, serif;
color: rgb(255, 252, 252);
}


header{ 
background-color: rgb(253, 253, 253);
color: rgba(2, 2, 255, 0.669);
text-align: center;
padding: 20px;
}

nav ul {
color: rgba(41, 8, 255, 0.397);
  list-style: none;

}


nav ul Li {
display: inline;
margin-right: 20px;
margin-left: 20px;


}

p { text-align: center;
     color: black;
}
 
footer { text-align: center;
    color: black;
    text-indent: 30px;

}

h3 { text-align: center;
  color: black;


}

