style.css 

body, h1, h2, ul {

  margin:0; 
  padding:0;
  text-decoration: white;
}

body  { 
background-color: black;
font-family: 'Times New Roman', Times, serif;

}


header{ 
background-color: pink;
text-decoration: white;
text-align: center;
padding: 20px;
}

nav ul {
  text-decoration: white;
  list-style: none;

}


nav ul Li {
display: inline;
margin-right: 20px;
margin-left: 20px;


}
